.modal-form{
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons-group{
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
}

form div.modal-form div.input{
    margin: 1rem;
}